@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-disabled {
  opacity: 0.3 !important;
}
.swiper-pagination-posts {
  text-align: center;
}

.swiper-pagination-posts .swiper-pagination-bullet {
  background: #404040;
  opacity: 1 !important;
  width: 6px;
  height: 6px;
  transition: all 0.4s ease;
  -o-transition: all 0.4 ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}


.swiper-pagination-posts .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f5f5f5 !important;
}